.tablist {
    display: flex;
  }
  
  [role="tab"] {
    padding: 10px;
    cursor: pointer;
  }
  
  [role="tabpanel"] {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
.bi{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
h4, h2{
  text-align: center;
}
#pasteArea {
  width: 300px;
  height: 200px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
#imageContainer img {
  max-width: 100%;
  max-height: 100%;
}