.tablist {
    display: flex;
  }
  
  [role="tab"] {
    padding: 10px;
    cursor: pointer;
  }
  
  [role="tabpanel"] {
    border: 1px solid #ccc;
  }
  .bi{
    border:1px solid black;
    border-radius:5px;
    margin:1px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:10px;
  }
h4, h6{
  text-align: center;
  margin:0;
  margin-top:3px;
}
.pasteArea {
  width: 100%;
  height: 100%;
  border: 2px dashed #8863e6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}
#imageContainer img {
  max-width: 100%;
  max-height: 100%;
}
.tdSelected{
  border:1px solid red;
  background-color: rgb(241, 103, 12, 0.2);
  
}
.tdDiv{
  display:grid;
  grid-template-rows:20vh 40vh;
  margin:10px;
  width:32vw;
}
.tabDiv{
  display:grid;
  grid-template-rows:5vh 12vh 60vh;
  row-gap: 5px;
}
.tableDiv{
  width:98vw;
  overflow-x:scroll;
}
.bi input{
  margin-top:2px;
  margin-right:5px;
  height:65%;
}
.bi_title{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr  ;
  column-gap:10px;
}
.bi_manager{
  display:grid;
  grid-template-rows:1fr 1fr;
  width:100%;
}
.bi_manager div{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
}
.flowTableTd{
  width:32vw;
}
.pasteArea img {
  width: 100%;
  height: 100%;
  object-fit:"scale";
  position: absolute;
  top: 0;
  left: 0;
}
.flowTable{
  table-layout: fixed;
  width:100%;
}
#tost_message {
  opacity: 0;
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%,0);
  padding: 10px 50px;
  background: rgba(0, 0, 0, 0.70);
  border-radius: 100px;
  color: #fff;
  box-shadow: 3px 4px 11px 0px #00000040;
  transition: all 0.5s;
}
/*토스트 메시지 활성화 되었을 때*/
#tost_message.active {
  opacity: 100%;
  bottom: 50px;
}